.home{
    /* margin-top: 5%; */
    padding: 20px;
    
    
}

.plswork{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.trow{
    width: 80%;
}

.trying{
    width: 100px;
}